# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/

# ==========================
# IDE (PyCharm / VSCode)
# ==========================
.idea/
.vscode/

# ==========================
# Logs
# ==========================
logs/*.log

# ==========================
# Generated Data (Output)
# ==========================
data/processed/*.csv
data/processed/*.xlsx

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db